<%= form_for @cat, :html => { :multipart => true } do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ol>
  <li>
    <div class="field">
      <%= f.label :image_url, '<strong><a id="random-cat" href="#">Get a random cat</a></strong> or paste the URL of a cat photo below'.html_safe %>
      <div>
        <%= f.text_field :image_url, :style=>"width:80%; min-width:240px;" %>
      </div>
      <div style="width:50%">
          <img style="max-height:200px;" id="chosen-image" />
      </div>
    </div>
  </li>

  <li>
    <div class="field">
      <%= f.label :description, "<strong>Describe the cat</strong> in a few words (e.g. The fluffy cat is relaxing on the mat)".html_safe %>
      <%= f.text_area :description, :rows=>2, :style=>"width:80%; min-width:240px;" %>
    </div>
  </li>

  <li>
    <div class="field">
      <%= f.label :notification_email, "<strong>Email address</strong> (optional)".html_safe %>
      <%= f.text_field :notification_email, :style=>"width:80%; min-width:240px;" %>
      <p class="hint">It will take a few minutes for your cat to be processed.<br /> If you would like an email summary when it's complete, enter your email.</small></p>
    </div>
  </li>
</ol>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %> or <%= link_to 'Cancel', cats_path %>
  </div>
<% end %>

<script>
  $('#random-cat').click(function(){
    var possible_tags = ['cute', 'evil', 'fluffy', 'soft']
    var tags = possible_tags[Math.floor(Math.random()*possible_tags.length)];
    tags = "cat," + tags;
    $.getJSON("http://api.flickr.com/services/rest/?api_key=e526bf2a1595886d42e8ab3e5bcc02a1&license=4&method=flickr.photos.search&tags=" + tags + "&tag_mode=all&format=json&jsoncallback=?", pickImage);
  });

      
  function pickImage(data) {
    var image = data.photos.photo[Math.floor(Math.random()*data.photos.photo.length)];

    $.getJSON("http://api.flickr.com/services/rest/?api_key=e526bf2a1595886d42e8ab3e5bcc02a1&method=flickr.photos.getSizes&photo_id=" + image.id +"image&format=json&jsoncallback=?", setImage);
  }

  function setImage(data) {
    sizes = $.grep(data.sizes.size, function(s) {
      return s.width > 400;
    });
    $('#cat_image_url').attr("value", sizes[0].source);
    $('#chosen-image').attr("src", sizes[0].source);
  }

  $('#cat_image_url').change(function() {
    $('#chosen-image').attr("src", $('#cat_image_url').value);
  });
</script>
