<h1>Upside down cat eyes</h1>
<p class="notice">This is a test site for <a href="http://www.sharedworkforce.com">Shared Workforce</a></p>
<p><%= link_to 'New cat', new_cat_path %></p>

<div>
  <% @cats.finished.each do |cat| %>
    <%= link_to cat do %>
      <%= image_tag(cat.cropped_image_url) %>
    <% end %>
  <% end %>
</div>

<h2>Rejected cats</h2>
<div>
  <% @cats.rejected.each do |cat| %>
    <%= link_to cat do %>
      <%= image_tag(cat.image_url) %>
    <% end %>
  <% end %>
  <% if @cats.rejected.empty? %>
    <p>None</p>
  <% end %>
</div>