<div class="hero-unit">
  <h1>What is this?</h1>
  <p>This demo gives you a good idea of the kind of human powered tasks you can complete in Shared Workforce. Imagine you have lots of user generated photos of cats. With each photo you would like to:</p>
  <ul>
  	<li>Check whether it's a cat</li>
  	<li>Improve the description</li>
  	<li>Tag the cat (e.g. soft, fluffy etc.)</li>
  	<li>Rotate the photo</li>
  	<li>Crop the cats eye</li>
  </ul>
  <p>With Shared Workforce you can outsource tasks like this through our API. We have a team of people completing tasks in near real time. Why not try it now:</p>
  <p><%= link_to "Add a new cat +", new_cat_path, :class => 'btn btn-primary btn-large' %> or <%= link_to 'Get the source code from github', 'https://github.com/sharedworkforce/sharedworkforce-demo-rails' %></p>
</div>

<% unless @cats.finished.empty? %>
	<h2 class="hr">Latest approved cats <span class="see-all"><%= link_to "See all #{@cats.finished.count.to_s} →", approved_cats_path %></span></h2>
	<%= render :partial=>'cats', :locals=>{:cats=>@cats.finished.limit(4)} %>
<% end %>
	
<% unless @cats.pending.empty? %>
	<h2 class="hr">Pending cats <span class="see-all"><%= link_to "See all #{@cats.pending.count.to_s} →", pending_cats_path %></span></h2>
	<%= render :partial=>'cats', :locals=>{:cats=>@cats.pending.limit(4)} %>
<% end %>
	
<% unless @cats.rejected.empty? %>
	<h2 class="hr">Latest rejected cats <span class="see-all"><%= link_to "See all #{@cats.rejected.count.to_s} →", rejected_cats_path %></span></h2>
	<%= render :partial=>'cats', :locals=>{:cats=>@cats.rejected.limit(4)} %>
<% end %>

<% unless @cats.finished.empty? %>
  <h2 class="hr">Upside down cats eyes <span class="see-all"><%= link_to "See all #{@cats.finished.count.to_s} →", eyes_cats_path %></span></h2>
    <% @cats.finished.limit(6).each do |cat| %>
      <%= link_to(image_tag(cat.cropped_image_url, :class => "thumbnail", :style=>"max-width:100px; display:inline;"), cat) %>
    <% end %>
<% end %>


