<!DOCTYPE html>
<html>
<head>
  <title>Shared Workforce Demo - Catsify</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
  <!-- $('.dropdown-toggle').dropdown() -->
  </script>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Catsify - Shared Workforce Demo</a>

      <ul class="nav pull-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse cats<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Approved Cats', approved_cats_path %></li>
      <li><%= link_to 'Rejected Cats', rejected_cats_path %></li>
      <li><%= link_to 'Pending Cats', pending_cats_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Upside-down cats eyes', eyes_cats_path %></li>
    </ul>
  </li>
</ul>

    </div><!-- .container -->
  </div><!-- .navbar-inner -->
</div><!-- .navbar .navbar-fixed-top -->

<div class="container">
  <div class="row">
    <div class="span9">
      <%= yield %>
    </div><!-- .span9 -->
    <div class="span3">
      <% unless current_page?(:controller => 'cats', :action => 'new')  %>
        <p><%= link_to "Add a new cat +", new_cat_path, :class => 'btn btn-primary btn-large' %></p>
        <br />
      <% end %>
      <h3>Find out more</h3>
      <p><%= link_to 'Shared Workforce', 'http://www.sharedworkforce.com' %> is a platform for managing and completing repetitive tasks that require human intelligence. For example, tagging photos, approving text and answering simple questions.</p>
      <p>You can view and download <a href="https://github.com/sharedworkforce/sharedworkforce-demo-rails">the source code for this app on github</a>.</p>
    </div><!-- .span3 -->
  </div><!-- .row -->
</div><!-- .container -->

</body>
</html>
